absl-py==1.3.0
affine==2.4.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
anyio==3.6.2
apipkg==3.0.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
Arpeggio==2.0.0
asn1crypto==1.5.1
astor==0.8.1
asttokens==2.2.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.3
atomicwrites==1.4.1
attrs==22.2.0
autocommand==2.2.2
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==6.0.0
blosc==1.11.1
boto3==1.35.51
botocore==1.35.51
branca==0.8.0
Brlapi==0.8.4
btrfsutil==6.1.3
build==0.10.0
CacheControl==0.12.11
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.4.0
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
comm==0.1.2
contextlib2==21.6.0
contourpy==1.0.7
country-bounding-boxes==0.2.3
coverage==6.5.0
crc32c==2.3
cryptography==39.0.1
cupy==11.5.0
cycler==0.11.0
Cython==0.29.33
daal==2025.0.0
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
distlib==0.3.6
distro==1.8.0
dnspython==2.2.1
docker-pycreds==0.4.0
earthengine-api==0.1.377
easydict==1.11
editables==0.3
eeconvert==0.1.22
einops==0.5.0
entrypoints==0.4
exceptiongroup==1.1.0
executing==1.2.0
fail2ban==1.0.2
fastjsonschema==2.16.2
filelock==3.16.1
fiona==1.10.1
flake8==6.0.0
flatbuffers==23.1.21
folium==0.14.0
fonttools==4.38.0
frozenlist==1.5.0
fsspec==2024.10.0
future==0.18.2
gast==0.3.3
geojson==3.1.0
geopandas==1.0.1
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.22.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.7.1
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
greenlet==3.1.1
grpcio==1.51.1
h5py==3.7.0
hatchling==1.11.1
html5lib==1.1
httplib2==0.22.0
huggingface-hub==0.26.2
idna==3.4
importlib-metadata==5.0.0
inflect==6.0.2
iniconfig==2.0.0
installer==0.6.0
ipykernel==6.21.1
ipython==8.17.2
ipython-genutils==0.2.0
ipywidgets==8.0.4
iso3166==2.1.1
jaraco.context==4.3.0
jaraco.functools==3.5.2
jaraco.text==3.11.1
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
json-fix==1.0.0
json5==0.9.12
jsonschema==4.17.3
jupyter-console==6.4.4
jupyter-events==0.6.3
jupyter_client==8.0.2
jupyter_core==5.2.0
jupyter_packaging==0.12.3
jupyter_server==2.2.1
jupyter_server_terminals==0.4.4
jupyterlab==3.6.1
jupyterlab-pygments==0.2.2
jupyterlab_server==2.19.0
keras==2.11.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
lensfun==0.3.3
libfdt==1.6.1
lightgbm==4.5.0
lightning==2.4.0
lightning-utilities==0.11.8
lockfile==0.12.2
louis==3.24.0
lxml==4.9.2
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.2
matplotlib==3.8.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mistune==2.0.4
mock==3.0.5
more-itertools==9.0.0
mpmath==1.3.0
msgpack==1.0.4
multidict==6.1.0
MultiScaleDeformableAttention==1.0
nbclassic==0.5.1
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
netsnmp-python==1.0a1
networkx==3.2.1
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.26.1
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
oauthlib==3.2.2
opt-einsum==3.3.0
ordered-set==4.1.0
overpass==0.7
OWSLib==0.29.2
packaging==23.0
pandas==2.1.2
pandocfilters==1.5.0
parse==1.19.0
parso==0.8.3
pathspec==0.11.0
pbr==5.11.1
pep517==0.13.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==2.6.2
pluggy==1.0.0
ply==3.11
pooch==1.6.0
progress==1.6
prometheus-client==0.15.0
prompt-toolkit==3.0.36
propcache==0.2.0
proto-plus==1.25.0
protobuf==4.21.12
psutil==5.9.4
ptyprocess==0.7.0
pudb==2022.1.3
pure-eval==0.2.2
pwquality==1.4.5
py==1.11.1.dev0+g447bac51.d20230131
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.10.3
pycairo==1.23.0
pycodestyle==2.10.0
pycparser==2.21
pycuda==2022.1
pydantic==1.10.4
pydot==1.4.2
pyflakes==3.0.1
Pygments==2.14.0
PyGObject==3.42.2
pyinotify==0.9.6
pyogrio==0.10.0
pyOpenSSL==23.0.0
pyparsing==3.0.9
pypng==0.0.21
pyproj==3.6.1
pyproject_hooks==1.0.0
PyQt5==5.15.9
PyQt5-sip==12.11.1
pyrsistent==0.19.3
pytest-cov==4.0.0
pytest-flake8==1.1.1
pytest-localserver==0.0.0
python-dateutil==2.8.2
python-json-logger==2.0.4
pytoml==0.1.21
pytools==2022.1.14
pytorch-lightning==2.4.0
pytz==2022.7
pyxdg==0.28
PyYAML==6.0.1
pyzmq==24.0.1
rapidfuzz==3.5.2
rasterio==1.3.9
requests==2.31.0
requests-oauthlib==1.3.1
requests-unixsocket==0.3.0
resolvelib==0.9.0
retrying==1.3.3
rich==13.3.1
rioxarray==0.17.0
rsa==4.9
s3transfer==0.10.3
scikit-learn==1.2.0
scikit-learn-intelex==2025.0.0
scipy==1.11.3
Send2Trash==1.8.0
sentry-sdk==2.17.0
setproctitle==1.3.2
shapely==2.0.6
six==1.16.0
smmap==5.0.1
snakeviz==2.2.0
sniffio==1.3.0
snuggs==1.4.7
soupsieve==2.3.2.post1
SQLAlchemy==2.0.36
stack-data==0.6.2
sympy==1.13.1
systemd-python==235
tbb==2022.0.0
tcmlib==1.2.0
team==1.0
tensorboard==2.11.0
tensorboard-data-server==0.7.0a0
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.10.0
tensorflow-gpu==2.11.0
tensorflow-serving-api==2.11.0
termcolor==2.2.0
terminado==0.17.1
testpath==0.6.0
threadpoolctl==3.1.0
timm==0.6.11
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
torch==2.5.1
torchmetrics==1.5.1
torchvision==0.14.1a0
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
triton==3.1.0
trove-classifiers==2023.2.9
typeguard==2.13.3
typing_extensions==4.12.2
tzdata==2024.2
uc-micro-py==1.0.1
ufw==0.36.1
uritemplate==4.1.1
urllib3==1.26.12
urwid==2.1.2
validate-pyproject==0.12.1
wandb==0.18.5
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.2
widgetsnbextension==4.0.5
wrapt==1.14.1
wxee==0.4.1
xarray==2023.10.1
xgboost==2.1.2
xmltodict==0.13.0
yarl==1.17.0
zipp==3.12.1
